@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Quicksand&family=VT323&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 10rem;
  background-color: #0077b6;
  font-family: "VT323", monospace;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.4fr 0.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "title title title" "subtitle subtitle subtitle";
}
.header__title {
  font-size: 2rem;
  justify-self: center;
  align-self: center;
  grid-area: title;
}
.header__subtitle {
  font-size: 1.5rem;
  justify-self: center;
  align-self: center;
  grid-area: subtitle;
}

.pick-player {
  background-color: #d9effa;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 7px;
  grid-template-areas: "heading heading heading" "hq storm ww" "hulk spiderman wolverine" "play play play";
}
.pick-player__heading {
  grid-area: heading;
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  justify-self: center;
  align-self: center;
}
.pick-player__hq {
  grid-area: hq;
}
.pick-player__storm {
  grid-area: storm;
}
.pick-player__ww {
  grid-area: ww;
}
.pick-player__hulk {
  grid-area: hulk;
}
.pick-player__spiderman {
  grid-area: spiderman;
}
.pick-player__wolverine {
  grid-area: wolverine;
}
.pick-player .play {
  grid-area: play;
  justify-self: center;
  align-self: center;
}

.choose-move {
  background-color: #b3dbef;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 6px;
  grid-template-areas: "heading heading heading heading" "special-ability special-ability signature-move signature-move";
}
.choose-move__heading {
  grid-area: heading;
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  justify-self: center;
  align-self: center;
}
.choose-move__special {
  grid-area: special-ability;
}
.choose-move__signature {
  grid-area: signature-move;
}

.game-container__player-card {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 1fr 0.25fr;
  grid-template-areas: "heading heading heading" "sprite sprite sprite" "abilities abilities abilities";
}
.game-container__player-card .player-heading {
  justify-self: center;
  grid-area: heading;
}
.game-container__player-card .player-sprite {
  grid-area: sprite;
  min-width: 60%;
  max-width: 60%;
  height: auto;
}
.game-container__player-card .player-abilities {
  grid-area: abilities;
  font-weight: 50;
}

.opponent-abilities h4, .player-abilities h4 {
  font-family: "VT323", monospace;
  color: #0077b6;
}

.opponent-abilities p, .player-abilities p {
  font-family: "Koulen", cursive;
  color: #d60909;
}

.player-heading__name {
  font-family: "VT323", monospace;
  font-size: 1.5rem;
}

.game-container__display {
  border: #0077b6 2px solid;
}

.game-container__display h2 {
  font-family: "VT323", monospace;
  color: #0077b6;
}

.game-container__display p {
  font-family: "Koulen", cursive;
  color: #d60909;
}

.game-container__opponent-card {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 1fr 0.25fr;
  grid-template-areas: "heading heading heading" "sprite sprite sprite" "abilities abilities abilities";
}
.game-container__opponent-card .opponent-heading {
  justify-self: center;
  grid-area: heading;
}
.game-container__opponent-card .opponent-sprite {
  grid-area: sprite;
  min-width: 60%;
  max-width: 60%;
  height: auto;
}
.game-container__opponent-card .opponent-abilities {
  grid-area: abilities;
  font-family: "VT323", monospace;
  font-weight: 50;
}

.opponent-heading__name {
  font-family: "VT323", monospace;
  font-size: 1.5rem;
}

.superhero {
  font-family: "Koulen", cursive;
  font-size: 14px;
  color: #fff;
  background-color: #e76f51;
  padding: 2px;
  border: solid #d62828 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.superhero:hover {
  transform: translateY(-2px);
  background-color: #d60909;
  color: #ffffff;
  border: solid 2px #ff0606;
}

.play {
  font-family: "Koulen", cursive;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  background-color: #0077b6;
  padding: 10px 30px;
  border: solid rgba(0, 118, 182, 0.7529411765) 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.play:hover {
  padding: 10px 24px;
  transform: translateY(-2px);
  background-color: rgba(0, 149, 199, 0.5921568627);
  color: #ffffff;
}

.choose-move__special,
.choose-move__signature {
  font-family: "Koulen", cursive;
  font-size: 14px;
  color: #fff;
  padding: 2px;
  width: 60%;
  background-color: #ff9a4d;
  border: solid #e76f51 2px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.choose-move__special:hover,
.choose-move__signature:hover {
  transform: translateY(-2px);
  background-color: #f8832a;
}/*# sourceMappingURL=styles.css.map */