@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Quicksand&family=VT323&display=swap');

$font-heading: "VT323", monospace;
$font-main: "Koulen", cursive;
$font-card: 'Quicksand', sans-serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 10rem;
  background-color: #0077b6;
  font-family: $font-heading;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.4fr 0.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "title title title"
    "subtitle subtitle subtitle";

  &__title {
    font-size: 2rem;
    justify-self: center;
    align-self: center;
    grid-area: title;
  }

  &__subtitle {
    font-size: 1.5rem;
    justify-self: center;
    align-self: center;
    grid-area: subtitle;
  }
}

.pick-player {
  background-color: #d9effa;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 7px;
  grid-template-areas:
    "heading heading heading"
    "hq storm ww"
    "hulk spiderman wolverine"
    "play play play";

  &__heading {
    grid-area: heading;
    font-family: $font-heading;
    font-size: 1.5rem;
    justify-self: center;
    align-self: center;
  }
  &__hq {
    grid-area: hq;
  }
  &__storm {
    grid-area: storm;
  }
  &__ww {
    grid-area: ww;
  }
  &__hulk {
    grid-area: hulk;
  }
  &__spiderman {
    grid-area: spiderman;
  }
  &__wolverine {
    grid-area: wolverine;
  }
  .play {
    grid-area: play;
    justify-self: center;
    align-self: center;
  }
}
.choose-move {
  background-color: #b3dbef;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 6px;
  grid-template-areas:
    "heading heading heading heading"
    "special-ability special-ability signature-move signature-move";

  &__heading {
    grid-area: heading;
    font-family: $font-heading;
    font-size: 1.5rem;
    justify-self: center;
    align-self: center;
  }
  &__special {
    grid-area: special-ability;
  }
  &__signature {
    grid-area: signature-move;
  }
}

.game-container__player-card {
  width:50%;
//   border: #d62828 2px solid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 1fr 0.25fr;
  grid-template-areas:
    "heading heading heading"
    "sprite sprite sprite"
    "abilities abilities abilities";
  .player-heading {
    justify-self: center;
    grid-area: heading;
  }
  .player-sprite {
    grid-area: sprite;
    min-width: 60%;
    max-width: 60%;
    height:auto;
  }
  .player-abilities {
    grid-area: abilities;
    font-weight: 50;
  }
}

.opponent-abilities h4, .player-abilities h4{
  font-family: $font-heading;
  color: #0077b6;
}
.opponent-abilities p, .player-abilities p{
  font-family: $font-main;
  color: #d60909;
}
.player-heading{
    &__name{
        font-family: $font-heading;
        font-size: 1.5rem;
    }
}


.game-container__display{
    border:#0077b6 2px solid
    
}
.game-container__display h2{
  font-family: $font-heading;
  color: #0077b6;
}
.game-container__display p{
  font-family: $font-main;
  color: #d60909;
}

.game-container__opponent-card{
    width:50%;
    //   border: #d62828 2px solid;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 0.25fr 1fr 0.25fr;
      grid-template-areas:
        "heading heading heading"
        "sprite sprite sprite"
        "abilities abilities abilities";
      .opponent-heading {
        justify-self: center;
        grid-area: heading;
      }
      .opponent-sprite {
        grid-area: sprite;
        min-width: 60%;
        max-width: 60%;
        height:auto;
      }
      .opponent-abilities {
        grid-area: abilities;
        font-family: $font-heading;
        font-weight: 50;
      }
    }
    .opponent-heading{
        &__name{
            font-family: $font-heading;
            font-size: 1.5rem;
        }
}

.superhero {
  font-family: $font-main;
  font-size: 14px;
  color: #fff;
  background-color: #e76f51;
  padding: 2px;
  border: solid #d62828 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.superhero:hover {
  transform: translateY(-2px);
  background-color: #d60909;
  color: #ffffff;
  border: solid 2px #ff0606;
}

.play {
  font-family: $font-main;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  background-color: #0077b6;
  padding: 10px 30px;
  border: solid #0076b6c0 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.play:hover {
  padding: 10px 24px;
  transform: translateY(-2px);
  background-color: #0095c797;
  color: #ffffff;
}

.choose-move__special,
.choose-move__signature {
  font-family: $font-main;
  font-size: 14px;
  color: #fff;
  padding: 2px;
  width: 60%;
  background-color: #ff9a4d;
  border: solid #e76f51 2px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.choose-move__special:hover,
.choose-move__signature:hover {
  transform: translateY(-2px);
  background-color: #f8832a;
}
